*.log
*.tmp
.venv/
requirements.in

# Project Specifics
config/settings.env
hospital_data/
hospital_data.ext

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# For notes
notes/
notes.ext
test_codes.ipynb

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Jupyter lab virtual documents
# https://jupyterlab-lsp.readthedocs.io/en/2.x/Configuring.html#virtual_documents_dir
.virtual_documents/
